@media screen and (max-width: 800px){
    header{
        display: flex;
        flex-direction: column;
    }
    body{
        background-position: 22em 15em;
        background-size: 22em;
    }
    .s1 > img{
        width: 200px;
    }
}

@media screen and (max-width: 500px){
    header ul{
        display: flex;
        flex-direction: column;
    }
    a{
        display: block;
    }
}