@media screen and (max-width: 800px){
    header{
        display: flex;
        flex-direction: column;
    }
    
    .s1 > img{
        width: 200px;
    }
}

@media screen and (max-width: 500px){
    header ul{
        display: flex;
        flex-direction: column;
    }
    a{
        display: block;
    }
}